<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password change</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/input-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/change-password.css' %}">
</head>
<body>
    <input class="back" type=button value="🔙" onClick="javascript:history.go(-1);">
    <form method="POST">
        {% csrf_token %}
        <div>
            {% for field in form %}
            <div class="form-group">
                {{field.label_tag}}
                <div>{{field}}</div>
                {% if field.errors%}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <button class="btn" title="Сохранить" type="submit" style="margin-top: 10px;">save changes</button>
    </form>
</body>
</html>