<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ "filters"|capfirst|default:"Фильтры" }}</title>
</head>
<body>
    <div class="wrapper">
        <h1>Работа со строками</h1>
        <!-- Работа со строками -->
         <h2>{{ title|capfirst }} | capfirst</h3>
            <!-- фильтр |capfirst преобразует первый символ строки в заглавную букву -->
         <h2>{{ title|upper }} | upper</h3>
            <!-- фильтр |capfirst преобразует все символы в верхний регистр -->
        <h2>{{ title|lower }} | lower</h3>
            <!-- фильтр |lower преобразует все символы в нижний регистр -->
        <h3>{{ text|cut:" "|cut:"!" }} | cut</h3>
            <!-- фильтр |cut удаляет все искомые символы -->
        <h3>{{ ""|default:"Фильтры" }} | default</h3>
            <!-- фильтр |default при отсутствии переменной или её ложности возвращает указанное значение после: -->   
        <h3>{{ menu|join:" |-| " }} | join</h3>
            <!-- фильтр |join добавляет разделители между элементами массива -->
        <h3>{{ text|linebreaksbr }} | linebreaksbr</h3>
            <!-- фильтр |linebreaksbr переносит текст на новую строку -->
        <h3>{{ text|truncatewords:"5"}} | truncatewords</h3>
        <!-- фильтр |truncatewords указывает сколько слов будет в строке -->
        <h3>{{ text|slugify }} | slugify</h3>
        <!-- фильтр slugify преобразует строку в slug(переводит все символы в нижний регистр и вместо пробела ставит тире) -->
        <h3>{{ text|length }} | length</h3>
        <!-- фильтр length возвращает длину строки -->
        <!-- \ -->
        <h1>Работа с числами</h1>
        <!-- Работа с числами -->
        <h3>{{ float|add:"50" }} | add</h3>
            <!-- фильтр |add добавляет к числовой переменной 50 -->
        <h3>{{ float1|divisibleby:"2" }} | divisibleby</h3>
            <!-- фильтр |divisibleby возвращает true если число делится на указанное. Важно упомянуть, 
                что действует кратность только на целые числа, если число float, то он будет округлен -->

        <h1>Работа с массивами</h1>
        <!-- Работа с массивами -->
        <h3>{{ menu|first }} | first</h3>
        <h3>{{ menu|last }} | last</h3>
        <h3>{{ menu.1 }} | .1</h3>
            <!-- через . обращаемся к элементам массива по индексу -->
         <!-- Структура написания фильтра: | сам фильтр : "аргумент(зачастую пишется в кавычках)" -->
         
    </div>
</body>
</html>
<!-- add - прибавляет два значения или конкатенирует строки
addslashes - экранирует специальные символы с обратным слешем в строке
capfirst - делает первую букву строки заглавной
center - выравнивает строку по центру заданной ширины
cut - удаляет все вхождения подстроки из строки
date - форматирует дату или время
default - возвращает значение по умолчанию, если переменная не определена или пустая
default_if_none - возвращает значение по умолчанию, если переменная равна None
dictsort - сортирует словарь по ключам
dictsortreversed - сортирует словарь по ключам в обратном порядке
divisibleby - проверяет, делится ли число на заданный делитель
escape - экранирует специальные символы HTML в строке
escapejs - экранирует специальные символы JavaScript в строке
filesizeformat - форматирует размер файла в удобочитаемом виде
first - возвращает первый элемент списка или первый символ строки
floatformat - форматирует число с фиксированной точностью
force_escape - экранирует специальные символы HTML в строке, игнорируя возможные теги
get_digit - возвращает цифру заданного разряда числа
iriencode - кодирует URL в соответствии со стандартами Internationalized Resource Identifier (IRI)
join - объединяет строки или элементы списка в одну строку
json_script - преобразует объект Python в JSON и оборачивает его в тег <script>
last - возвращает последний элемент списка или последний символ строки
length - возвращает длину строки или количество элементов в списке
length_is - проверяет, имеет ли объект заданную длину
linebreaks - заменяет переводы строк на HTML-теги <p>
linebreaksbr - заменяет переводы строк на HTML-теги <br>
linenumbers - добавляет номера строк к каждой строке текста
ljust - выравнивает строку по левому краю заданной ширины
lower - приводит строку к нижнему регистру
make_list - преобразует аргумент в список
phone2numeric - преобразует буквенно-цифровой номер телефона в числовой формат
pluralize - возвращает единственное или множественное число для существительного на основе заданного числа
pprint - форматирует и выводит структурированный вывод объекта Python
random - возвращает случайный элемент из списка или строку
rjust - выравнивает строку по правому краю с заданной шириной
safe - помечает строку как безопасную для рендеринга
safeseq - помечает последовательность как безопасную для рендеринга
slice - возвращает срез последовательности
slugify - преобразует строку в URL-подобный слаг
stringformat - форматирует строку с использованием заданных параметров форматирования
striptags - удаляет все HTML- и XML-теги из строки
time - форматирует время в соответствии с заданным форматом
timesince - возвращает время, прошедшее с указанной даты до текущего момента
timeuntil - возвращает время, оставшееся до указанной даты от текущего момента
title - преобразует строку, делая заглавными первые буквы каждого слова
truncatechars - обрезает строку до указанного числа символов
truncatechars_html - обрезает HTML-строку до указанного числа символов
truncatewords - обрезает строку до указанного числа слов
truncatewords_html - обрезает HTML-строку до указанного числа слов
unordered_list - преобразует список или последовательность в маркированный HTML-список
upper - приводит строку к верхнему регистру
urlencode - кодирует строку в формате URL
urlize - преобразует URL-ссылки в HTML-ссылки
urlizetrunc - преобразует URL-ссылки в HTML-ссылки, обрезая их для сокращения длины
wordcount - возвращает количество слов в строке
wordwrap - разбивает строку на строки заданной длины
yesno - заменяет булево значение на заданную строку в зависимости от него -->